<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="test/bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        cacheTokens="true"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        >

    <php>
        <const name="MONGO_CONN_STR" value="mongodb://127.0.0.1/"/>
        <const name="MONGO_CONN_DB" value="mongosession_test"/>
        <const name="MONGO_CONN_USER" value=""/>
        <const name="MONGO_CONN_PASS" value=""/>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">test/unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">test/functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
